.mainComponent {
  background-color: #2c2c2e;
  color: #e5e5e5;
  height: auto;
  flex-grow: 1;
  overflow-x: hidden; /* Menghindari overflow horizontal */
}

/* General Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Hero Section */
.hero {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 100px 0;
  animation: fadeInLeft 1.5s ease-out;
}

/* Pastikan teks tidak overflow */
.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
  opacity: 0;
  animation: slideInLeft 1s ease forwards;
  word-wrap: break-word; /* Membuat teks terpotong jika terlalu panjang */
}

.hero p {
  font-size: 24px;
  margin-bottom: 20px;
  opacity: 0;
  animation: slideInRight 1.5s ease forwards;
  word-wrap: break-word; /* Membuat teks terpotong jika terlalu panjang */
}

/* CtaButton */
.ctaButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #f04;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  opacity: 0;
  animation: bounceIn 2s ease forwards;
}

.ctaButton:hover {
  background-color: #e03;
  transform: scale(1.05);
}

/* About Section */
.about {
  padding: 80px 0;
  text-align: center;
  background-color: #f4f4f4;
  color: #333;
  animation: slideInRight 1.5s ease forwards;
}

/* Projects Section */
.projects {
  padding: 80px 0;
  text-align: center;
  animation: zoomIn 1.5s ease forwards;
}

.projectList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column; 
}

.projectItem {
  width: 100%; 
  margin-bottom: 40px;
  opacity: 0;
  transform: scale(0.8);
  animation: zoomInProject 1.5s ease forwards;
}

.projectItem img {
  max-width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
  transition: transform 0.3s ease;
}

.projectItem:hover img {
  transform: scale(1.05);
}

.skills {
  padding: 80px 0;
  text-align: center;
  animation: rotateIn 1.5s ease forwards;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills li {
  font-size: 20px;
  margin: 0 20px;
  color: whitesmoke;
  opacity: 0;
  animation: rotateInSkill 2s ease forwards;
}

/* Media Queries */
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 20px;
  }

  .projectItem {
    width: 100%; 
  }

  .skills ul {
    flex-direction: column; 
  }

  .skills li {
    margin: 10px 0; 
  }
}

/* Animations */
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.2);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes zoomInProject {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateIn {
  from {
    opacity: 0;
    transform: rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes rotateInSkill {
  from {
    opacity: 0;
    transform: rotate(-180deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
